body {
   font-family: Arial, sans-serif;
   background-color: #f1f1f1;
   display: flex;
   justify-content: center;
   align-items: center;
   height: 100vh;
   margin: 0;
 }
 
 article.card {
   background-color: white;
   border-radius: 20px;
   box-shadow: 0 4px 8px rgba(0,0,0,0.1);
   width: 260px;
   text-align: center;
 }
 
 header {
   background-color: #000000;
   padding: 40px 20px 20px;
   border-radius: 20px;
 }

 
 header img {
   width: 120px;
   height: 120px;
   border-radius: 50%;
   border: 3px solid white;
 }
 
 section.content {
   padding: 20px;
 }
 
 h2 {
   margin: 0;
   font-size: 18px;
   color: #333;
 }
 
 p {
   color: #777;
   font-size: 14px;
   margin: 10px 0 20px;
 }
 
 footer {
   padding-bottom: 20px;
 }